.tyc{
    &_wrp{
        padding: 0 20px 70px;
    h1{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
        font-weight: 500;
    }
    h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    svg{
        margin-bottom: 5px;
    }
    }
}

    @media only screen and (min-width: 1024px){
        .tyc{
            &_wrp{
                padding: 0 50px 70px 0;
                max-width: 800px;
                margin: 0 0px 0px 50px;
                h1{
                    font-size: 32px;
                }
            }
        }
    }

    @media only screen and (min-width: 1300px){
        .tyc{
            &_wrp{
                padding: 0 0 70px;
            }
        }
    }